.wrapper_{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.parent{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  transform-style: preserve-3d;
  width: 280px;
  height: 187px;
}

.parent2{
  width: 20px;
  height: 100px;
}
.child{
  position: absolute;
  top:0;
  left:0;
  transform: translate3d(0,0,0);
  user-select: none;
  overflow: hidden;
  border-radius: 4px;
  transition: 1s;
}
.parent2 .child{
  width: 60px;
  height: 90px;
  background: rgba(84,150,61, 1);
  border-radius: 0;
  text-align: center;
  line-height: 90px;
  color: #fff;
}
.animate{
  //animation: play 8s infinite linear;
}

@keyframes play {
  to{
    transform: rotateY(360deg);
  }
}



.box{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  transform-style: preserve-3d;
  width: 300px;
  height: 150px;
  transform: scale(4);
}

.box-img{
  position: absolute;
  width: 300px;
  height: 150px;
}
.box-img img{
  width: 100%;
  height: 100%;
  user-select: none;
}
.box-img:nth-child(1){
  transform-origin: left center;
  transform: translateZ(-150px) translateX(300px) rotateY(-90deg);
}
.box-img:nth-child(2){
  transform-origin: right center;
  transform: translateZ(-150px) translateX(-300px) rotateY(90deg);
}
.box-img:nth-child(3){
  transform-origin: center center;
  transform: translateZ(0) translateY(-1px) rotateX(-270deg);
  height: 300px;
}
.box-img:nth-child(4){
  transform-origin: center center;
  transform: translateZ(0px) translateY(-149px) rotateX(270deg);
  height: 300px;
}
.box-img:nth-child(5){
  transform: translateZ(-149px);
}
.box-img:nth-child(6){
  transform-origin: center center;
  transform: translateZ(149px) rotateY(-180deg);
}

.main{
  position:absolute;
  top:50%;
  left:50%;
  width:0;
  height: 0;
  transform: translateZ(-2000px);
}
.item{
  width: 120px;
  height: 160px;
  background: rgba(0,127,127,0.5);
  border: 1px solid rgba(127,255,255,0.25);
  box-shadow: 0 0 4px rgba(0,255,255,0.5);
  position: absolute;
  top: -80px;
  left: -60px;
  transform: translateZ(0);
  transition: 4s ease-in-out;
  font-family: 'Microsoft yahei';
  text-align: center;
  font-size: 60px;
  line-height: 160px;
  color: rgba(255,255,255,.5);
}
