.wrapper_{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  perspective: 1000px;
}
.parent{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  transform-style: preserve-3d;
  width: 280px;
  height: 187px;
}

.parent2{
  width: 20px;
  height: 100px;
}
.child{
  position: absolute;
  top:0;
  left:0;
  transform: translate3d(0,0,0);
  user-select: none;
  overflow: hidden;
  border-radius: 4px;
}
.parent2 .child{
  width: 20px;
  height: 150px;
  background: #5496a1;
  border-radius: 0;
}
.animate{
  //animation: play 8s infinite linear;
}

@keyframes play {
  to{
    transform: rotateY(360deg);
  }
}
